<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--go to https://cdnjs.com/libraries/bootswatch/4.5.3 and paste -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css" integrity="sha512-dQLT/B7byn2LjN/DN4zeBKpwGV6qbidV0XiMRWQOL7TGrV7FkZFldkGG+DGMU+CQnMTcRZlUI7GMWt1j6akNew==" crossorigin="anonymous" />
    <title>Weather App</title>
</head>
<body>
    <div class= "navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class= "container">
            <a href="../" class="navbar-brand"><h3>Weather App</h3><span style ="color:rgb(39,117,161);">
                
            </span></a>
            <a href="http://openweathermap.org" class="nav-brand" style='text-align: right'><h6  style='text-align: right' >OpenWeather - Get your API</h6></a>
           
            
        </div>
    </div>

    <br/><br/><br>
    <div id = "jumbotron" class="jumbotron" style="text-align: center; margin-top: -50px;">
    <h1 class = "display-5" style ="color:rgb(38, 173, 20);">Weather web application</h1>
    

    <img src ="{% static 'images/weather3.jpg' %}" class="image" style="width:150px; margin-bottom:-50px; "></img>
    </div>
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
     <form method="post" class ="col-md">
         {% csrf_token %}
         <div class= "input-group">
             <input type="text" class="form-control" name="city" placeholder="Choose your city ...">
             <div class= "input-group-btn">
                 <button type ="submit" class="btn btn-primary">Search</button>
                 </div></div>
     </form>
 </nav>
 <br> <br>
 
 <h1 style ="color:hsla(116, 78%, 15%, 0.911); text-align: center;  text-shadow: 2px 2px 5px red;"><span class ="badge badge-primary"  ></span> {{name}}</h1>

 <div class ="row">
     {% if country_code and coordinate and temp and pressure and humidity %}
     <div class ="col d-flex justify-content-center">
         <div class = "card-text-white bg-light mb-6">
             <div class = "card-body">
                <h2  style ="color:rgb(240, 13, 100);">Forecast</h2>
                 <h4><span class ="badge badge-primary">Forcast :</span> {{main}} <img src="https://openweathermap.org/img/w/{{icon}}.png" alt="Image" style="width: 70px;"></h4>
                 <h4><span class ="badge badge-primary">Description :</span> {{description}}</h4>
                 <h4><span class ="badge badge-primary">Country Code :</span> {{country_code}}</h4>
                 <h4><span class ="badge badge-primary">Coordinate :</span> {{coordinate}}</h4>
                </div></div></div>
                 <div class ="col d-flex justify-content-center">
                    <div class = "card-text-white bg-light mb-6">
                        <div class = "card-body"> 
                            <h2  style ="color:rgb(240, 13, 100);">Temperature</h2>
                 <h4><span class ="badge badge-primary">Temperature :</span> {{temp}}</h4>
                 <h4><span class ="badge badge-primary">Maximum temperature :</span> {{max_temp}}</h4>
                 <h4><span class ="badge badge-primary">Minimum temperature:</span> {{min_temp}}</h4>
                 
               
                </div></div></div>
                <div class ="col d-flex justify-content-center">
                   <div class = "card-text-white bg-light mb-6">
                       <div class = "card-body">
                        <h2  style ="color:rgb(240, 13, 100);">Sunrise and Sunset</h2>
                 <h4><span class ="badge badge-primary">Sunrise :</span> {{sunrise}}</h4>
                 <h4><span class ="badge badge-primary">Sunset :</span> {{sunset}}</h4>
                </div></div></div>
                <div class ="col d-flex justify-content-center">
                   <div class = "card-text-white bg-light mb-6">
                       <div class = "card-body"> 
                        <h2  style ="color:rgb(240, 13, 100);">More Information</h2>
                        <h4><span class ="badge badge-primary">Pressure :</span> {{pressure}}</h4>
                 <h4><span class ="badge badge-primary"> Humidity :</span> {{humidity}}</h4>
                 <h4><span class ="badge badge-primary">Windspeed :</span> {{wind}}</h4>
                 <h4><span class ="badge badge-primary">Cloud Count :</span> {{clouds}}</h4>
                 
             </div>
             {% endif %}
         </div>
 </div>
</body>
</html>